.pageIndicator {
	position: absolute;
	bottom: 2.5rem;
	left: 0;
	transform: translateX(-50%);

	min-width: 60px;
	width: auto;
	white-space: nowrap;

	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	font-size: 0.8rem;
	font-weight: 600;
	padding: 0.5rem 0.8rem;
	border-radius: 1rem;
	text-align: center;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease;
	z-index: 10;
}

.pageIndicator.visible {
	opacity: 1;
	visibility: visible;
}

.pageSlider {
	-webkit-appearance: none;
	appearance: none;
	background: rgba(180, 180, 180, 0.4);
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	height: 8px;
	width: 550px;
}

.pageSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 68px;
	height: 10px;
	background-color: #4a4a4a;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.pageSlider::-moz-range-thumb {
	width: 40px;
	height: 20px;
	background-color: #4a4a4a;
	border-radius: 10px;
	cursor: pointer;
	border: none;
}

.pageSlider:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.pageSlider:disabled::-webkit-slider-thumb {
	background-color: #999;
	cursor: not-allowed;
}

.pageSlider:disabled::-moz-range-thumb {
	background-color: #999;
	cursor: not-allowed;
}

@media (max-width: 900px) {
	.pageSlider {
		width: 85vw;
		max-width: 100%;
		height: 6px;
	}

	.pageSlider::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 45px;
		height: 18px;
		background-color: #4a4a4a;
		border-radius: 10px;
	}
}

@media (min-width: 901px) {
	.pageSlider::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 68px;
		/* Thumb maior no desktop */
		height: 12px;
		background-color: #4a4a4a;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	}
}
