.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #333;
  max-width: 450rem;
  max-height: 45rem;
}

.container h2 {
  margin: 0;
  font-size: 1.5rem;
}

.pickerSection {
  min-height: 150px;
  border: 2px dashed #ddd;
  padding: 2rem
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.buttonGroup button {
  flex: 1;
  padding: 0.8rem;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s;
}

.buttonGroup button.active {
  background: #005ca9;
  color: white;
  border-color: #005ca9;
}

.footer {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}