.sidenav-toggler {
	display: none;
	border: transparent;
	background-color: transparent;
	padding: 0.3rem;
	border-radius: 5px;
	margin-right: 1rem;
	cursor: pointer;
}

.link-group {
	display: flex;
	align-items: center;
	margin-left: auto;
	gap: 1rem;
	font-size: 0.8rem;
	transition: opacity 0.2s;
}

.nav-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
	font-size: 1rem;
	transition: opacity 0.2s;

	background: none;
	border: none;
	padding: 0;
	color: inherit;
	font-family: inherit;
	cursor: pointer;
	text-decoration: none;
	width: auto;
}

.nav-link:hover {
	opacity: 0.7;
}

@media (max-width: 900px) {
	.sidenav-toggler {
		display: block;
	}

	.link-group {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 5rem;
		background-color: white;
		width: 100%;
		left: 0;
		gap: 1.5rem;
		padding: 1rem;
		border-bottom: 1px solid #e5e5e5;
	}

	.link-group.show {
		display: flex;
	}
}

@media (prefers-color-scheme: dark) {
	.link-group {
		background-color: #2e2e2e;
		color: white;
		border-bottom: 1px solid #444444;
	}
}
